body {
  background: #dfe7ef;
  font-family: "Bitter", serif;
}

* {
  box-sizing: border-box;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-size: cover;
    justify-content: space-evenly;
}

@media screen and (max-width: 700px), (max-height: 500px) {
    .wrapper {
        flex-wrap: wrap;
        flex-direction: column;
    } 
}

.player {
    background: #eef3f7;
    width: 410px;
    min-height: 480px;
    box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
    border-radius: 15px;
    padding: 30px;
}

@media screen and (max-width: 576px), (max-height: 500px) {
    .player {
        width: 95%;
        padding: 20px;
        margin-top: 75px;
        min-height: initial;
        padding-bottom: 30px;
        max-width: 400px;
    }
}

.player-top {
    display: flex;
    align-items: flex-start;
    position: relative;
    z-index: 4;
}

@media screen and (max-width: 576px), (max-height: 500px) {
    .player-top {
        flex-wrap: wrap;
    }
}

.player-cover {
    width: 300px;
    height: 300px;
    margin-left: -70px;
    flex-shrink: 0;
    position: relative;
    z-index: 2;
    border-radius: 15px;
    z-index: 1;
}

@media screen and (max-width: 576px), (max-height: 500px) {
    .player-cover {
        margin-top: -70px;
        margin-bottom: 25px;
        width: 290px;
        height: 230px;
        margin-left: auto;
        margin-right: auto;
    }
}

.player-cover-item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    left: 0;
    top: 0;
}

.player-cover-item:before {
    content: "";
    background: inherit;
    width: 100%;
    height: 100%;
    box-shadow: 0px 10px 40px 0px rgba(76, 70, 124, 0.5);
    display: block;
    z-index: 1;
    position: absolute;
    top: 30px;
    transform: scale(0.9);
    filter: blur(10px);
    opacity: 0.9;
    border-radius: 15px;
}

.player-cover-item:after {
    content: "";
    background: inherit;
    width: 100%;
    height: 100%;
    box-shadow: 0px 10px 40px 0px rgba(76, 70, 124, 0.5);
    display: block;
    z-index: 2;
    position: absolute

}
.player-cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0px 10px 40px 0px rgba(76, 70, 124, 0.5);
    user-select: none;
    pointer-events: none;
}

.player-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    flex: 1;
}

@media screen and (max-width: 576px), (max-height: 500px) {
    .player-controls {
        flex-direction: row;
        padding-left: 0;
        width: 100%;
        flex: unset;
    }
}

.player-controls-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    width: 50px;
    height: 50px;
    padding: 5px;
    margin-bottom: 10px;
    color: #acb8cc;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 576px), (max-height: 500px) {
    .player-controls-item {
        font-size: 26px;
        padding: 5px;
        margin-right: 10px;
        color: #acb8cc;
        cursor: pointer;
        width: 40px;
        height: 40px;
        margin-bottom: 0;
    }
}

.player-controls-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #fff;
    opacity: 0;
    transform: scale(0.5);
    box-shadow: 0px 5px 10px 0px rgba(76, 70, 124, 0.2);
    transition: all 0.4s cubic-bezier(0.35, 0.57, 0.13, 0.88);
}

@media screen and (min-width: 500px) {
    .player-controls-item:hover {
        color: #532ab9;
    }
    
    .player-controls-item:hover::before {
        opacity: 1;
        transform: scale(1.3);
    }
}

@media screen and (max-width: 576px), (max-height: 500px) {
    .player-controls-item:active {
        color: #532ab9;
    }
    
    .player-controls-item:active::before {
        opacity: 1;
        transform: scale(1.3);
    }
}

.player-controls-item .icon {
    position: relative;
    z-index: 2;
}

.player-controls-item.-xl {
    display: inline-flex;
    font-size: 95px;
    width: auto;
    height: auto;
    margin-bottom: 0;
    color: #fff;
    filter: drop-shadow(0 11px 6px rgba(172, 184, 204, 0.45));
}

@media screen and (max-width: 576px), (max-height: 500px) {
    .player-controls-item.-xl {
        font-size: 75px;
        margin-left: auto;
        margin-right: 0;
    }
}

.player-controls-item.-xl:before {
    display: none;
}

.player-controls-item.-favorite.active {
    color: red;
}

  
.progress {
    width: 100%;
    margin-top: -15px;
    user-select: none;
}

.progress-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.progress-duration {
    font-size: 20px;
    font-weight: 700;
    color: #71829e;
    opacity: 0.5;
}

.progress-time {
    margin-top: 50px;
    font-size: 16px;
    font-weight: 700;
    color: #71829e;
    opacity: 0.7;
}

.progress-bar {
    width: 100%;
    height: 6px;
    border-radius: 10px;
    background-color: #d0d8e6;
    cursor: pointer;
    display: inline-block;
}

.progress-current {
    width: 0%;
    height: inherit;
    padding-top: 10px;
    border-radius: 10px;
    color: #a3b3ce;
}

.album-info {
    flex: 1;
    padding-right: 60px;
    color: #71829e;
    user-select: none;
}

@media screen and (max-width: 576px), (max-height: 500px) {
    .album-info {
        padding-right: 30px;
    }
}

.album-info-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
    line-height: 1.3em;
}

@media screen and (max-width: 576px), (max-height: 500px) {
    .album-info-name {
        font-size: 18px;
        margin-bottom: 9px;
    }
}

.album-info-track {
    font-size: 20px;
    font-weight: 400;
    opacity: 0.7;
    line-height: 1.3em;
    min-height: 52px;
}

@media screen and (max-width: 576px), (max-height: 500px) {
    .album-info-track {
        font-size: 18px;
        min-height: 50px;
    }
}

  
.modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #eef3f7;
    box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
    border-radius: 15px;
    padding: 30px;
    z-index: 4;
    width: max-content;
}

.modal button#closeModal {
    position: absolute;
    top: 0;
    right: 5%;
    height: 20px;
    width: 20px;
    color: white;
    background-color: transparent;
    border: 0;
    font-size: 25px;
    font-weight: bold;
}

.modal .bluetooth {
    display: none;
    z-index: 99;
}

.settings div {
    display: flex;
    align-items: center;
}

.settings img {
    margin-right: 5px;
    width: 25px;
}

.settings label {
    margin-right: 50px;
    font-size: 18px;
}

.settings img.right-align {
    margin-left: auto;
    cursor: pointer;
    padding: 3px;
}

#toggle_checkbox {
    display: none;
}

.dark-mode label {
    display: block;
    width: 72px; /* Smanjena širina */
    height: 34px; /* Smanjena visina */
    margin: 40px auto 0px auto;
    background-color: #77b5fe;
    border-radius: 26px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.3s ease background-color;
    overflow: hidden;
}

.dark-theme {
    background-color: #444444;
    color: #dfe7ef;
    filter: drop-shadow(0 11px 6px rgba(45, 57, 79, 0.45));
}

.player-dark-theme {
    background-color: #736f6f;
    color: whitesmoke;
}

#star {
    position: absolute;
    top: 6px;
    left: 10px;
    width: 14px;
    height: 14px;
    background-color: #fafd0f;
    transform: scale(1);
    border-radius: 50%;
    transition: 0.3s ease top, 0.3s ease left, 0.3s ease transform, 0.3s ease background-color;
    z-index: 1;
}

#star-1 {
    position: relative;
}

#star-2 {
    position: absolute;
    transform: rotateZ(36deg);
}

.star {
    top: 0;
    left: -3.2px;
    font-size: 25px;
    line-height: 14px;
    color: #fafd0f;
    transition: 0.3s ease color;
}

#moon {
    position: absolute;
    bottom: -26px;
    right: 4px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s ease bottom;
}

#moon:before {
    content: "";
    position: absolute;
    top: -6px;
    left: -9px;
    width: 20px;
    height: 20px;
    background-color: #03a9f4;
    border-radius: 50%;
    transition: 0.3s ease background-color;
}

#toggle_checkbox:checked + label {
    background-color: #000;
}

#toggle_checkbox:checked + label #star {
    top: 2px;
    left: 40px;
    transform: scale(0.5);
    background-color: yellow;
}

#toggle_checkbox:checked + label .star {
    color: yellow;
}

#toggle_checkbox:checked + label #moon {
    bottom: 4px;
}

#toggle_checkbox:checked + label #moon:before {
    background-color: #000;
}

.settings div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings div:last-child button,
.account button {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: transform 0.35s ease;
}

.settings div:last-child button:hover,
.account button:hover {
    transform: scale(1.1);
}

#delete {
    background-color: rgba(189, 18, 18, 0.761);
    color: rgb(209, 208, 208);
}

#sign-out {
    border: 1px solid #c7cacc;
}

.settings div:last-child button img {
    margin-right: 5px;
}

.rs-control .rs-range-color {
    background-color: #82a3c3;
}

.rs-control .rs-path-color {
    background-color: #538dc6;
}

.rs-control .rs-handle {
    background-color: #a7a7a7;
}

.rs-control .rs-bg-color {
    background-color: rgb(133, 57, 57);
}

.theme {
    display: none;
}

.account h2 {
    margin: 10px 0px;
    font-size: 24px;
}

.account label {
    display: block;
    margin-bottom: 5px;
}

.account input[type="text"],
.account input[type="email"],
.account input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.addsong {
    display: none;
}

.addsong h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

.addsong .input-field {
    margin-bottom: 15px;
}

.addsong label {
    display: block;
    margin-bottom: 5px;
}

.addsong input[type="text"],
.addsong input[type="url"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.addsong button {
    display: block;
    margin: 0 auto;
    padding: 8px 16px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



  


  

  